.Header {
  position: sticky;
  width: 100%;
  padding: 1em 0.5em;
  display: flex;
  height: 64px;
  align-items: center;
  border-bottom: 4px dotted black;
  background-color: lightgray;
}

.Footer {
  position: absolute;
  bottom: 0;
  height: 5%;
  width: 100%;
  border-top: 4px dotted black;
  background-color: lightgray;
  color: black;
  text-align: center;
}

.Navbar {
  height: 50vh;
  border-right: 10px solid whitesmoke; 
  padding: 1em;
  background: lightblue;
  width: 15%;
}      

.Links {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 3;
  font-weight: bold;
  color: #333;
}